@import './reboot';
@import './variables/global';
@import './themes/dark';
@import './themes/light';

.app {
    font: var(--font-m);
    color: var(--text-color);
    background: var(--bg-color);
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100svh;
}

.container {
    margin: 0 auto;
    width: 1400px;
}