.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-self: end;
}

.utils {
    display: flex;
    align-items: center;
}