.app.app_light_theme {
    // Background
    --dark-bg-color: #FFFFFF;
    --bg-color: #FFF0D2;
    --light-bg-color: #FFFEF5;

    // Text
    --text-color: #141C1F;
    --hint-color: #ADBCC0;
    --save-color: #62DE85;

    // Icon
    --icon-color: #020202;

    // Accent
    --accent-color: #FF7777;
}