.app_dark_theme {
    // Background
    --second-bg-color: #232c30;
    --bg-color: #0c1214;

    // Text
    --text-color: #dbdbdb;
    --hint-color: #555555;
    --save-color: #6cd98b;

    // Icon
    --icon-color: #74a2b2;

    // Accent
    --accent-color: #d95757;
    --light-accent-color: #8b3232;
}
