.app.app_dark_theme {
    // Background
    --dark-bg-color: #090F11;
    --bg-color: #0C1214;
    --light-bg-color: #151C1F;

    // Text
    --text-color: #DBDBDB;
    --hint-color: #555555;
    --save-color: #6CD98B;

    // Icon
    --icon-color: #74A2B2;

    // Accent
    --accent-color: #D95757;
}