.app_light_theme {
    // Background
    --second-bg-color: #ffffff;
    --bg-color: #fff0d2;

    // Text
    --text-color: #141c1f;
    --hint-color: #adbcc0;
    --save-color: #62de85;

    // Icon
    --icon-color: #020202;

    // Accent
    --accent-color: #ff7777;
    --light-accent-color: #ffd2d2;
}
